# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# don't commit the .env file
.env

# don't commit the .nvmrc file
.nvmrc

html/assets
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/


playwright/.auth
/src/playwright/.auth/

src/keywords-vue-app/playwright/.auth/
/src/keywords-vue-app/playwright/.auth/

/src/test/e2e/playwright/.auth/
/src/test/e2e/playwright/.auth/storageState.json

*storybook.log
storybook-static


# TypeScript incremental build info
*.tsbuildinfo

# Compiled config files
*.config.js
*.config.d.ts
!vitest.config.ts
!vite.config.ts
!playwright.config.ts
!eslint.config.ts
!vitest.config.storybook.ts
